.swiper {
	touch-action: pan-x pan-y pinch-zoom !important;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.swiperWrapper {
	touch-action: pan-x pan-y pinch-zoom !important;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.swiperSlide {
	touch-action: pan-x pan-y pinch-zoom !important;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

:global(.swiper-wrapper) {
	cursor: grab !important;
}

:global(.swiper-wrapper:active) {
	cursor: grabbing !important;
}

:global(.swiper-wrapper.dragging) {
	cursor: grabbing !important;
}
